.home{
    font-family: 'cf_samurai_bobregular', sans-serif;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.left{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.left__info{
    color: #d80027;
    z-index: 3;
    margin: 30% 0;
    padding: 0 5%;
}
.left__info h1{
    font-size: 7rem
}
.left__info p{
    font-size: 4rem;
}
canvas{
    width: 99vw !important;
    height: 99vh !important;
}
.particle{
    position: absolute;
    top: 0;
    z-index: 2;
    left: 0;
}
.right{
    z-index: 3;
    height: 100vh;
    background: #d80027;
    display: flex;
    justify-content: center;
    align-items: center;
}
.circle{
    width: 90%;
    height: auto;
    border-radius: 50%;
    background: #f5eded;;
    display: flex;
    justify-content: center;
    align-items: center;
}
.circle img{
    max-width: 50%;
    height: auto;
}
@media(max-width: 768px){
    .home{
    display: flex;
    flex-direction: column;
    }
    .right{
        height: auto;
    }
    .circle{
        margin: 5% 0;
    }
}