
@font-face {
  font-family: 'cf_samurai_bobregular';
  src: url('./assets/fonts/cfsamuraibobregular-rmg8-webfont.woff2') format('woff2'),
       url('./assets/fonts/cfsamuraibobregular-rmg8-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}
.App{
  display: flex;
  justify-content:space-between;
  background: #f5eded;
  margin-left: 6%;
}
.main{
  width: 100%;
}
@media(max-width: 991px){
 .App{
   flex-direction: column;
   margin-left: 0;
  }
}

